Repository apache/arrow-adbc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lidavidm, @CurtHagenlocher, @kou, @zeroshade, @paleolimbot, @wjones127

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any  of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

## Format
adbc.h @lidavidm

## Implementations
/c/ @lidavidm
/csharp/ @lidavidm @CurtHagenlocher
/glib/ @kou
/java/ @lidavidm
/go/ @zeroshade
/python/ @lidavidm
/r/ @paleolimbot
/ruby/ @kou
/rust/ @wjones127

## Docs
/docs/ @lidavidm
# *.md
# *.rst
# *.txt

## PR CI and repo files
/.github/ @lidavidm @zeroshade
.asf.yaml @lidavidm @kou
.pre-commit-config.yaml @lidavidm
# .git*

# release scripts
/ci/ @lidavidm @kou
/dev/ @lidavidm @kou
.env @lidavidm

update xdbc
  csharp/src/Drivers/BigQuery/BigQueryConnection.cs
Owners: @lidavidm, @CurtHagenlocher

clean up
  csharp/src/Drivers/BigQuery/BigQueryConnection.cs
Owners: @lidavidm, @CurtHagenlocher

clean up
  csharp/src/Drivers/BigQuery/BigQueryConnection.cs
Owners: @lidavidm, @CurtHagenlocher

update constraints functionality
  csharp/src/Apache.Arrow.Adbc/StandardSchemas.cs
  csharp/src/Drivers/BigQuery/BigQueryConnection.cs
  csharp/test/Apache.Arrow.Adbc.Tests/Metadata/AdbcConstraint.cs
  csharp/test/Apache.Arrow.Adbc.Tests/Metadata/AdbcUsageSchema.cs
  csharp/test/Apache.Arrow.Adbc.Tests/Metadata/GetObjectsParser.cs
Owners: @lidavidm, @CurtHagenlocher

Fixing case and SQL injection issue for Schema and catalog
  csharp/test/Drivers/Snowflake/DriverTests.cs
  go/adbc/driver/flightsql/flightsql_connection.go
  go/adbc/driver/internal/shared_utils.go
  go/adbc/driver/snowflake/connection.go
  go/adbc/driver/snowflake/connection_test.go
Owners: @lidavidm, @CurtHagenlocher, @zeroshade

less string
  c/driver/postgresql/postgres_copy_reader.h
Owners: @lidavidm

Allocate up front
  c/driver/postgresql/postgres_copy_reader.h
Owners: @lidavidm

docs: spruce up landing page
  ci/conda_env_docs.txt
  docs/source/_static/banner.png
  docs/source/conf.py
  docs/source/driver/sqlite.rst
  docs/source/index.rst
Owners: @lidavidm, @kou

compiling with lifecycle issues
  c/driver/flightsql/sqlite_flightsql_test.cc
  c/driver/postgresql/postgresql_test.cc
  c/driver/sqlite/sqlite_test.cc
  c/driver_manager/adbc_driver_manager_test.cc
Owners: @lidavidm

docs: generate Javadocs
  ci/conda_env_java.txt
  ci/scripts/docs_build.sh
  docker-compose.yml
  docs/source/java/api/adbc_driver_manager.rst
  docs/source/java/api/index.rst
  docs/source/java/driver_manager.rst
  java/pom.xml
Owners: @lidavidm, @kou

docs: generate Javadocs (#1362)
  ci/conda_env_java.txt
  ci/scripts/docs_build.sh
  docker-compose.yml
  docs/source/java/api/adbc_driver_manager.rst
  docs/source/java/api/index.rst
  docs/source/java/driver_manager.rst
  java/pom.xml
Owners: @lidavidm, @kou

lifecycle workarounds
  c/driver/postgresql/postgresql_test.cc
Owners: @lidavidm

Try parametrized postgres-test suite
  c/driver/postgresql/postgresql_test.cc
  c/validation/adbc_validation.cc
  c/validation/adbc_validation.h
Owners: @lidavidm

fix test precision / scale arguments
  c/driver/postgresql/postgresql_test.cc
Owners: @lidavidm

add nullability testing
  c/driver/postgresql/postgresql_test.cc
Owners: @lidavidm

decimal256 test cases (but failing)
  c/driver/postgresql/postgresql_test.cc
Owners: @lidavidm

passing DECIMAL256 tests
  c/driver/postgresql/postgresql_test.cc
Owners: @lidavidm

lint
  c/driver/postgresql/postgres_copy_reader.h
Owners: @lidavidm

endian agnosticism
  c/driver/postgresql/postgresql_test.cc
Owners: @lidavidm

fixups
  c/driver/postgresql/postgresql_test.cc
  c/validation/adbc_validation_util.cc
Owners: @lidavidm

test(python): Fix polars deprecationwarning in tests
  python/adbc_driver_postgresql/tests/test_polars.py
Owners: @lidavidm

test(python): Fix polars DeprecationWarning in tests (#1366)
  python/adbc_driver_postgresql/tests/test_polars.py
Owners: @lidavidm

build(csharp): PowerShell build scripts for C# (#1350)
  .github/dependabot.yml
  ci/scripts/csharp_build.ps1
  ci/scripts/csharp_pack.ps1
  ci/scripts/csharp_smoketest.ps1
Owners: @lidavidm, @zeroshade, @kou

docs: fix path in build script
  ci/scripts/docs_build.sh
Owners: @lidavidm, @kou

docs: fix path in build script (#1379)
  ci/scripts/docs_build.sh
Owners: @lidavidm, @kou

docs: spruce up landing page (#1360)
  ci/conda_env_docs.txt
  docs/source/_static/banner.png
  docs/source/conf.py
  docs/source/driver/sqlite.rst
  docs/source/index.rst
Owners: @lidavidm, @kou

feat(r): Reference count child objects (#1334)
  r/adbcdrivermanager/DESCRIPTION
  r/adbcdrivermanager/NAMESPACE
  r/adbcdrivermanager/R/adbc.R
  r/adbcdrivermanager/R/helpers.R
  r/adbcdrivermanager/R/utils.R
  r/adbcdrivermanager/man/adbc_connection_join.Rd
  r/adbcdrivermanager/man/adbc_statement_set_sql_query.Rd
  r/adbcdrivermanager/man/adbc_xptr_move.Rd
  r/adbcdrivermanager/man/with_adbc.Rd
  r/adbcdrivermanager/src/init.c
  r/adbcdrivermanager/src/radbc.cc
  r/adbcdrivermanager/src/radbc.h
  r/adbcdrivermanager/src/utils.c
  r/adbcdrivermanager/tests/testthat/test-driver_monkey.R
  r/adbcdrivermanager/tests/testthat/test-helpers.R
  r/adbcdrivermanager/tests/testthat/test-utils.R
Owners: @paleolimbot

docs: update driver implementation status
  docs/source/driver/postgresql.rst
  docs/source/driver/status.rst
  docs/source/python/recipe/postgresql.rst
  docs/source/python/recipe/postgresql_create_temp_table.py
  docs/source/python/recipe/postgresql_get_query_schema.py
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
Owners: @lidavidm

docs: update driver implementation status (#1383)
  docs/source/driver/postgresql.rst
  docs/source/driver/status.rst
  docs/source/python/recipe/postgresql.rst
  docs/source/python/recipe/postgresql_create_temp_table.py
  docs/source/python/recipe/postgresql_get_query_schema.py
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
Owners: @lidavidm

feat(c/driver/postgresql): set rows_affected appropriately
  c/driver/postgresql/postgresql_test.cc
  c/driver/postgresql/statement.cc
Owners: @lidavidm

feat(c/driver/postgresql): set rows_affected appropriately (#1384)
  c/driver/postgresql/postgresql_test.cc
  c/driver/postgresql/statement.cc
Owners: @lidavidm

chore: use LF not CRLF for csproj
  .pre-commit-config.yaml
  csharp/src/Apache.Arrow.Adbc/Apache.Arrow.Adbc.csproj
  csharp/src/Client/Apache.Arrow.Adbc.Client.csproj
  csharp/src/Drivers/BigQuery/Apache.Arrow.Adbc.Drivers.BigQuery.csproj
  csharp/src/Drivers/FlightSql/Apache.Arrow.Adbc.Drivers.FlightSql.csproj
  csharp/src/Drivers/Interop/Snowflake/Apache.Arrow.Adbc.Drivers.Interop.Snowflake.csproj
  csharp/test/Apache.Arrow.Adbc.Tests/Apache.Arrow.Adbc.Tests.csproj
  csharp/test/Drivers/BigQuery/Apache.Arrow.Adbc.Tests.Drivers.BigQuery.csproj
  csharp/test/Drivers/FlightSql/Apache.Arrow.Adbc.Tests.Drivers.FlightSql.csproj
  csharp/test/Drivers/Interop/Snowflake/Apache.Arrow.Adbc.Tests.Drivers.Interop.Snowflake.csproj
  csharp/test/SmokeTests/Apache.Arrow.Adbc.SmokeTests/Apache.Arrow.Adbc.SmokeTests.csproj
  csharp/test/SmokeTests/BigQuery/Apache.Arrow.Adbc.SmokeTests.Drivers.BigQuery.csproj
  csharp/test/SmokeTests/FlightSql/Apache.Arrow.Adbc.SmokeTests.Drivers.FlightSql.csproj
  csharp/test/SmokeTests/Interop/Snowflake/Apache.Arrow.Adbc.SmokeTests.Drivers.Interop.Snowflake.csproj
Owners: @lidavidm, @CurtHagenlocher

docs: enable linking to Javadoc via Intersphinx
  .github/workflows/native-unix.yml
  ci/scripts/docs_build.sh
  ci/scripts/website_build.sh
  docs/source/conf.py
  docs/source/ext/adbc_java_domain.py
  docs/source/ext/javadoc_inventory.py
  docs/source/format/specification.rst
Owners: @lidavidm, @zeroshade, @kou

fix(c/driver/postgresql): support catalog arg of GetTableSchema
  c/driver/postgresql/connection.cc
  c/driver/postgresql/postgresql_test.cc
  c/validation/adbc_validation.cc
  c/validation/adbc_validation.h
  ci/conda_env_cpp_lint.txt
  docs/source/python/recipe/postgresql_get_table_schema.py
Owners: @lidavidm, @kou

fix(c/driver/postgresql): support catalog arg of GetTableSchema (#1387)
  c/driver/postgresql/connection.cc
  c/driver/postgresql/postgresql_test.cc
  c/validation/adbc_validation.cc
  c/validation/adbc_validation.h
  ci/conda_env_cpp_lint.txt
  docs/source/python/recipe/postgresql_get_table_schema.py
Owners: @lidavidm, @kou

docs: enable linking to Javadoc via Intersphinx (#1381)
  .github/workflows/native-unix.yml
  ci/scripts/docs_build.sh
  ci/scripts/website_build.sh
  docs/source/conf.py
  docs/source/ext/adbc_java_domain.py
  docs/source/ext/javadoc_inventory.py
  docs/source/format/specification.rst
Owners: @lidavidm, @zeroshade, @kou

chore: use LF not CRLF for csproj (#1386)
  .pre-commit-config.yaml
  csharp/src/Apache.Arrow.Adbc/Apache.Arrow.Adbc.csproj
  csharp/src/Client/Apache.Arrow.Adbc.Client.csproj
  csharp/src/Drivers/BigQuery/Apache.Arrow.Adbc.Drivers.BigQuery.csproj
  csharp/src/Drivers/FlightSql/Apache.Arrow.Adbc.Drivers.FlightSql.csproj
  csharp/src/Drivers/Interop/Snowflake/Apache.Arrow.Adbc.Drivers.Interop.Snowflake.csproj
  csharp/test/Apache.Arrow.Adbc.Tests/Apache.Arrow.Adbc.Tests.csproj
  csharp/test/Drivers/BigQuery/Apache.Arrow.Adbc.Tests.Drivers.BigQuery.csproj
  csharp/test/Drivers/FlightSql/Apache.Arrow.Adbc.Tests.Drivers.FlightSql.csproj
  csharp/test/Drivers/Interop/Snowflake/Apache.Arrow.Adbc.Tests.Drivers.Interop.Snowflake.csproj
  csharp/test/SmokeTests/Apache.Arrow.Adbc.SmokeTests/Apache.Arrow.Adbc.SmokeTests.csproj
  csharp/test/SmokeTests/BigQuery/Apache.Arrow.Adbc.SmokeTests.Drivers.BigQuery.csproj
  csharp/test/SmokeTests/FlightSql/Apache.Arrow.Adbc.SmokeTests.Drivers.FlightSql.csproj
  csharp/test/SmokeTests/Interop/Snowflake/Apache.Arrow.Adbc.SmokeTests.Drivers.Interop.Snowflake.csproj
Owners: @lidavidm, @CurtHagenlocher

chore: stage website changes after rewrite
  ci/scripts/website_build.sh
Owners: @lidavidm, @kou

chore: stage website changes after rewrite (#1388)
  ci/scripts/website_build.sh
Owners: @lidavidm, @kou

fix(c/driver/postgresql): check for underflow
  c/driver/postgresql/postgres_copy_reader.h
  c/driver/postgresql/statement.cc
Owners: @lidavidm
