Repository apache/arrow-adbc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lidavidm, @CurtHagenlocher, @kou, @zeroshade, @paleolimbot, @wjones127

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any  of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

## Format
adbc.h @lidavidm

## Implementations
/c/ @lidavidm
/csharp/ @lidavidm @CurtHagenlocher
/glib/ @kou
/java/ @lidavidm
/go/ @zeroshade
/python/ @lidavidm
/r/ @paleolimbot
/ruby/ @kou
/rust/ @wjones127

## Docs
/docs/ @lidavidm
# *.md
# *.rst
# *.txt

## PR CI and repo files
/.github/ @lidavidm @zeroshade
.asf.yaml @lidavidm @kou
.pre-commit-config.yaml @lidavidm
# .git*

# release scripts
/ci/ @lidavidm @kou
/dev/ @lidavidm @kou
.env @lidavidm

Windows
  c/driver/postgresql/postgres_copy_reader.h
  c/driver/postgresql/statement.cc
Owners: @lidavidm

docs: improve PostgreSQL type support table
  docs/source/driver/postgresql.rst
Owners: @lidavidm

fix(c/driver/postgresql): check for underflow (#1389)
  c/driver/postgresql/postgres_copy_reader.h
  c/driver/postgresql/statement.cc
Owners: @lidavidm

docs: improve PostgreSQL type support table (#1390)
  docs/source/driver/postgresql.rst
Owners: @lidavidm

docs: improve landing page
  docs/source/csharp/index.rst
  docs/source/faq.rst
  docs/source/index.rst
Owners: @lidavidm

docs: improve landing page (#1392)
  docs/source/csharp/index.rst
  docs/source/faq.rst
  docs/source/index.rst
Owners: @lidavidm

fix(c/driver/postgresql): fix ingest with multiple batches
  c/driver/postgresql/postgres_copy_reader.h
  c/driver/postgresql/postgres_copy_reader_test.cc
  c/driver/postgresql/postgres_util.h
  c/driver/postgresql/statement.cc
  docs/source/python/recipe/postgresql.rst
  docs/source/python/recipe/postgresql_create_dataset_table.py
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_postgresql/tests/test_dbapi.py
Owners: @lidavidm

fix(c/driver/postgresql): fix ingest with multiple batches (#1393)
  c/driver/postgresql/postgres_copy_reader.h
  c/driver/postgresql/postgres_copy_reader_test.cc
  c/driver/postgresql/postgres_util.h
  c/driver/postgresql/statement.cc
  docs/source/python/recipe/postgresql.rst
  docs/source/python/recipe/postgresql_create_dataset_table.py
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_postgresql/tests/test_dbapi.py
Owners: @lidavidm

msvc compat?
  c/driver/postgresql/postgresql_test.cc
Owners: @lidavidm

fix COPY test
  c/driver/postgresql/postgres_copy_reader_test.cc
Owners: @lidavidm

update news/cran comments
  r/adbcdrivermanager/NEWS.md
  r/adbcpostgresql/NEWS.md
  r/adbcpostgresql/cran-comments.md
  r/adbcsqlite/NEWS.md
  r/adbcsqlite/cran-comments.md
Owners: @paleolimbot

upstream updates requested by CRAN for adbcsnowflake
  r/adbcsnowflake/DESCRIPTION
  r/adbcsnowflake/cleanup
  r/adbcsnowflake/configure
  r/adbcsnowflake/src/.gitignore
  r/adbcsnowflake/src/Makevars.in
  r/adbcsnowflake/tools/.gitignore
  r/adbcsnowflake/tools/create-go-vendor-archive.R
  r/adbcsnowflake/tools/download-go-vendor-archive.R
  r/adbcsnowflake/tools/verify-go-vendor-archive.R
Owners: @paleolimbot

update docs for current status
  docs/source/driver/duckdb.rst
  docs/source/driver/flight_sql.rst
  docs/source/driver/installation.rst
  docs/source/driver/postgresql.rst
  docs/source/driver/sqlite.rst
Owners: @lidavidm

sync improvements for snowflake to flightsql
  r/adbcflightsql/DESCRIPTION
  r/adbcflightsql/cleanup
  r/adbcflightsql/configure
  r/adbcflightsql/src/.gitignore
  r/adbcflightsql/src/Makevars.in
Owners: @paleolimbot

Simple benchmark
  c/driver/postgresql/postgresql_benchmark.cc
Owners: @lidavidm

return int instead of void
  c/driver/postgresql/postgres_copy_reader.h
Owners: @lidavidm

chore(r): Housekeeping for R packages (#1399)
  docs/source/driver/duckdb.rst
  docs/source/driver/flight_sql.rst
  docs/source/driver/installation.rst
  docs/source/driver/postgresql.rst
  docs/source/driver/sqlite.rst
  r/adbcdrivermanager/NEWS.md
  r/adbcflightsql/DESCRIPTION
  r/adbcflightsql/cleanup
  r/adbcflightsql/configure
  r/adbcflightsql/src/.gitignore
  r/adbcflightsql/src/Makevars.in
  r/adbcpostgresql/NEWS.md
  r/adbcpostgresql/cran-comments.md
  r/adbcsnowflake/DESCRIPTION
  r/adbcsnowflake/cleanup
  r/adbcsnowflake/configure
  r/adbcsnowflake/src/.gitignore
  r/adbcsnowflake/src/Makevars.in
  r/adbcsnowflake/tools/.gitignore
  r/adbcsnowflake/tools/create-go-vendor-archive.R
  r/adbcsnowflake/tools/download-go-vendor-archive.R
  r/adbcsnowflake/tools/verify-go-vendor-archive.R
  r/adbcsqlite/NEWS.md
  r/adbcsqlite/cran-comments.md
Owners: @lidavidm, @paleolimbot

Bumps Microsoft.NET.Test.Sdk to 17.8.0 and standardizes on a single version
  csharp/test/Apache.Arrow.Adbc.Tests/Apache.Arrow.Adbc.Tests.csproj
  csharp/test/Drivers/BigQuery/Apache.Arrow.Adbc.Tests.Drivers.BigQuery.csproj
  csharp/test/Drivers/FlightSql/Apache.Arrow.Adbc.Tests.Drivers.FlightSql.csproj
  csharp/test/Drivers/Interop/Snowflake/Apache.Arrow.Adbc.Tests.Drivers.Interop.Snowflake.csproj
Owners: @lidavidm, @CurtHagenlocher

chore(csharp): bump Microsoft.NET.Test.Sdk from 17.6.0 to 17.8.0 in /csharp (#1414)
  csharp/test/Apache.Arrow.Adbc.Tests/Apache.Arrow.Adbc.Tests.csproj
  csharp/test/Drivers/BigQuery/Apache.Arrow.Adbc.Tests.Drivers.BigQuery.csproj
  csharp/test/Drivers/FlightSql/Apache.Arrow.Adbc.Tests.Drivers.FlightSql.csproj
  csharp/test/Drivers/Interop/Snowflake/Apache.Arrow.Adbc.Tests.Drivers.Interop.Snowflake.csproj
Owners: @lidavidm, @CurtHagenlocher

create netezza dir
  c/driver/netezza/AdbcDriverPostgreSQLConfig.cmake.in
  c/driver/netezza/CMakeLists.txt
  c/driver/netezza/CMakeUserPresets.example.json
  c/driver/netezza/README.md
  c/driver/netezza/adbc-driver-postgresql.pc.in
  c/driver/netezza/connection.cc
  c/driver/netezza/connection.h
  c/driver/netezza/database.cc
  c/driver/netezza/database.h
  c/driver/netezza/error.cc
  c/driver/netezza/error.h
  c/driver/netezza/postgres_copy_reader.h
  c/driver/netezza/postgres_copy_reader_test.cc
  c/driver/netezza/postgres_type.h
  c/driver/netezza/postgres_type_test.cc
  c/driver/netezza/postgres_util.h
  c/driver/netezza/postgresql.cc
  c/driver/netezza/postgresql_benchmark.cc
  c/driver/netezza/postgresql_test.cc
  c/driver/netezza/result_helper.cc
  c/driver/netezza/result_helper.h
  c/driver/netezza/statement.cc
  c/driver/netezza/statement.h
  c/driver/netezza/vcpkg.json
Owners: @lidavidm

add compilation basic steps for netezza
  c/CMakeLists.txt
  c/CMakePresets.json
  c/cmake_modules/DefineOptions.cmake
Owners: @lidavidm

fixed libpq.pc
  c/driver/netezza/CMakeLists.txt
  c/driver/netezza/libpq.pc
Owners: @lidavidm

Fix ambiguity of libpq
  c/driver/netezza/CMakeLists.txt
  c/driver/netezza/libnzpq.pc
  c/driver/netezza/nz_lib/libnzpq.so
Owners: @lidavidm

static path fixed
  c/driver/netezza/libnzpq.pc
Owners: @lidavidm

Fix connection leak in `JdbcDataSourceDatabase` constructor and pass in username/pass while getting connection
  java/driver/jdbc/src/main/java/org/apache/arrow/adbc/driver/jdbc/JdbcDataSourceDatabase.java
Owners: @lidavidm

macros and function definition
  c/driver/netezza/connection.cc
  c/driver/netezza/connection.h
  c/driver/netezza/error.cc
  c/driver/netezza/nz_include/libpq-fe.h
  c/driver/netezza/result_helper.cc
  c/driver/netezza/statement.cc
Owners: @lidavidm

python: switch to static versioning for simplicity
  .github/workflows/integration.yml
  dev/release/utils-prepare.sh
  python/adbc_driver_flightsql/adbc_driver_flightsql/_static_version.py
  python/adbc_driver_flightsql/adbc_driver_flightsql/_version.py
  python/adbc_driver_flightsql/setup.py
  python/adbc_driver_manager/adbc_driver_manager/_static_version.py
  python/adbc_driver_manager/adbc_driver_manager/_version.py
  python/adbc_driver_manager/setup.py
  python/adbc_driver_postgresql/adbc_driver_postgresql/_static_version.py
  python/adbc_driver_postgresql/adbc_driver_postgresql/_version.py
  python/adbc_driver_postgresql/setup.py
  python/adbc_driver_snowflake/adbc_driver_snowflake/_static_version.py
  python/adbc_driver_snowflake/adbc_driver_snowflake/_version.py
  python/adbc_driver_snowflake/setup.py
  python/adbc_driver_sqlite/adbc_driver_sqlite/_static_version.py
  python/adbc_driver_sqlite/adbc_driver_sqlite/_version.py
  python/adbc_driver_sqlite/setup.py
Owners: @lidavidm, @zeroshade, @kou

docs: add simple glossary
  docs/source/glossary.rst
  docs/source/index.rst
Owners: @lidavidm

test(go/adbc/driver/snowflake): skip failing test
  go/adbc/driver/snowflake/driver_test.go
Owners: @zeroshade

test(go/adbc/driver/snowflake): skip failing test (#1421)
  go/adbc/driver/snowflake/driver_test.go
Owners: @zeroshade

docs: add simple glossary (#1420)
  docs/source/glossary.rst
  docs/source/index.rst
Owners: @lidavidm

docs: update footer to match arrow.apache.org
  docs/source/conf.py
Owners: @lidavidm

docs: update footer to match arrow.apache.org (#1423)
  docs/source/conf.py
Owners: @lidavidm

refactor: removed unused code
  go/adbc/driver/snowflake/connection.go
Owners: @zeroshade

fix: Reduced SQL calls in GetObjects to two, added prefixing DbName for INFORMATION_SCHEMA calls, and removed SQL cursor code
  csharp/test/Drivers/Interop/Snowflake/DriverTests.cs
  go/adbc/driver/flightsql/flightsql_connection.go
  go/adbc/driver/internal/shared_utils.go
  go/adbc/driver/snowflake/connection.go
Owners: @lidavidm, @CurtHagenlocher, @zeroshade

refactor: Refactored the SQL calls
  go/adbc/driver/snowflake/connection.go
Owners: @zeroshade

refactor: Refactored all the filter conditions for GetObjects into a single prepareFilterConditions function
  go/adbc/driver/snowflake/connection.go
  go/adbc/driver/snowflake/connection_test.go
Owners: @zeroshade

refactor: Refactored SQL, made the code modular, and added tests for verifying the generated SQL
  go/adbc/driver/snowflake/connection.go
  go/adbc/driver/snowflake/connection_test.go
Owners: @zeroshade

new libpq + escape function support
  c/driver/netezza/nz_include/libpq-fe.h
  c/driver/netezza/nz_include/nzfieldtype.h
  c/driver/netezza/nz_lib/libnzpq.so
  c/driver/netezza/statement.cc
Owners: @lidavidm

feat(c/driver/postgresql): Support for writing DECIMAL types (#1288)
  c/driver/postgresql/postgres_copy_reader.h
  c/driver/postgresql/postgres_copy_reader_test.cc
  c/driver/postgresql/postgresql_benchmark.cc
  c/driver/postgresql/postgresql_test.cc
  c/driver/postgresql/statement.cc
  c/validation/adbc_validation_util.h
Owners: @lidavidm
